//Colors

    //Primary

$VeryDarkBlueMainBackground: hsl(233, 47%, 7%);
$DarkDesaturatedBlueCardBackground: hsl(244, 38%, 16%);
$SoftVioletAccent: hsl(277, 64%, 61%);

    //Neutral

$WhiteMainHeadingStats: hsl(0, 0%, 100%);
$SlightlyTransparentWhiteMainParagraph: hsla(0, 0%, 100%, 0.75);
$SlightlyTransparentWhiteStatHeadings: hsla(0, 0%, 100%, 0.6);

//Font-Family 

$Inter: 'Inter', sans-serif;
$Lexend: 'Lexend Deca', sans-serif;